---
import Layout from "../layout.astro";
---
<Layout
    title="Galeria de Mapas | Black Maps"
    description="descripcion galeria mapas"
    ogtitle="Galeria de Mapas | Black Maps"
    ogdescription="descripcion galeria mapas"
    url="https://blackmaps.vercel.app/maps"
    keywords="blackmaps, mapas, twitter, web, negro, galeria, react"
    >
    <p class="pt-[80px]">Pagina de mapas en construccion</p>
</Layout>