  .container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.125s ease-in-out, transform 0.125s ease-in-out;
  }
  
  .animate {
    opacity: 1;
    transform: translateY(0);
  }