@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

.hero {
  background: url("https://blackmaps.com.ar/image/bg-map-l.webp");
}

@media (prefers-color-scheme: dark) {
  .hero {
    background: url("https://blackmaps.com.ar/image/bg-map.webp");
  }
::-moz-selection {
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

}
.map-card {
  width: 350px !important;
  height: 224px !important;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0
  }

  100% {
    background-position: 800px 0
  }
}

.loading {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}

@media (prefers-color-scheme:dark) {
  .loading {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #2d2d2d 8%, #1d1d1d 18%, #2d2d2d 33%);
    background-size: 800px 104px;
    position: relative;
  }
}

.image-loading {
  width: 100%;
  height: 224px;
}

.logo {
  font-size: 56px;
}